<div class="center jumbotron">
  <h1>Welcome to Eseed</h1>

  <h2>
	  This is the home page for
	  <a href="https://www.eseed.net/">Eseed Prototype Version</a>
	  Web Application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("eseed.jpg", alt: "eseed logo", length: 40, width: 80),
            'http://eseed.net/' %>